.main_pay_sec {
  background-color: white;
  width: 99%;
  /* margin: 20px auto; */
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  height: auto;
  padding: 30px;
}

.currency_page {
  border: 1px solid #e2e2e2;
  width: 50%;
  border-radius: 5px;
  height: auto;
  display: flex;
  padding: 10px 30px;
}
.currency_input {
  width: 60%;
}

.h6 {
  font-weight: 500;
  font-size: 14px;
}
.currency_input select,
.currency_input2 select {
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  margin-top: 10px;
  padding: 5px 10px;
  width: 98%;
}

.cur_posi {
  margin-left: 20px;
}

.cur_sel {
  margin-top: 17px;
  margin-right: 2px;
}
#right {
  margin-left: 15px;
}

.text1 {
  font-size: 14px;
  position: relative;
  top: -3px;
}

.strip_page {
  border: 1px solid #e2e2e2;
  margin-top: 30px;
  width: 50%;
  border-radius: 5px;
  height: auto;
  padding: 20px 30px;
}

#strip_cur {
  margin-top: 30px;
}
.str_text {
  color: #4880ff;
  font-size: 16px;
  font-weight: 600;
}

.call12input {
  border: 1px solid #e2e2e2;
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
}

.priv p {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.status {
  display: flex;
  font-size: 14px;
}
#test {
  margin-top: 10px;
}

.status_icon {
  margin-left: 18px;
  border-radius: 5px;
}
.s_icon {
  margin-left: 5px;
}

.status_test {
  border: 1px solid #e2e2e2;
  margin: 20px 0;
  border-radius: 5px;
  padding: 10px;
}

.carrency_div select {
  width: 60% !important;
}

@media only screen and (max-width: 426px) {
  .currency_page {
    flex-wrap: wrap;
    width: 100% !important;
  }
  .currency_input {
    width: 100%;
  }
  .cur_posi {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 769px) {
  .main_pay_sec {
    padding: 20px;
  }
  .currency_page {
    width: 48%;
    padding: 5px 10px;
  }
  .currency_input select {
    width: 84%;
    padding: 4px;
  }

  .h6 {
    font-size: 13px;
  }

  .cur_posi {
    margin: 0;
  }

  .strip_page {
    padding: 10px 16px;
  }
  #currency {
    width: 100%;
  }
  #strip_cur {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1025px) {
  .currency_page {
    width: 61%;
  }
}

/* emailsetting */

.notification_sec_head {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.smtp_email {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

.smtp_email li {
  margin: 0 10px;
  text-decoration: none;
}

.smtp_email li:nth-child(1) {
  margin-left: 0;
}

.smtp_email li a {
  color: #000;
  text-decoration: none;
}
.smtp_email li a:active {
  color: #4880ff;
}

.smtp_email li a {
  text-decoration: none;
  color: black;
}
#not_bt {
  margin: 0;
  margin-right: 35px;
}

.protocol {
  font-size: 14px;
}
#etc {
  margin-left: 10px;
  color: #9c9393;
}
.call6input,
.call3input,
#currency {
  border: 1px solid #e2e2e2;
  padding: 8px 10px;
  border-radius: 5px;
  width: 40%;
  margin-top: 10px;
}

#pro_2 {
  margin-top: 20px;
}

.call8input {
  border: 1px solid #e2e2e2;
  padding: 8px 10px;
  border-radius: 5px;
  width: 85%;
  margin-top: 10px;
}

.call3input {
  width: 15%;
}

/* Email template css  */

.email_tbody td {
  padding: 10px 0 10px 29px;
}

.email_tbody p {
  font-size: 12px;
}

.h5 {
  font-size: 13px;
  color: #5a8cff;
}

.lesson {
  padding: 10px;
  width: 30%;
}

#edit {
  padding-left: 50px;
}

th {
  color: #474747;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  padding: 8px 5px 0 25px;
}

@media only screen and (max-width: 426px) {
  .smtp_email {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .email_table {
    width: 100%;
    display: block;
  }

  .email_table thead {
    display: block;
    background-color: #f2f2f2;
  }

  .email_table th,
  .email_table td {
    padding: 8px;
    text-align: left;
    min-width: 150px;
    text-align: center;
    box-sizing: border-box;
  }

  .email_table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2;
  }

  .email_table tr {
    display: table;
    width: 100%;
  }

  .email_tbody {
    padding: 0;
  }
  #action {
    padding-right: 70px;
  }

  .email_table th h5 {
    text-align: center;
  }
}
