@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

:root {
  --font-color: #37393a;
  --white: #ffffff;
  --hover-color: #4880ff;
  --search-bg: #f5f6fa;
  --sidebar-pages-color: #797a7c;
  --border-color: #dfdfe1;
  --green-bg: #ccf0eb;
  --green-text: #00b69b;
  --light-blue-bg: #e0d4fc;
  --light-blue-text: #723cf0;
  --red-bg: #fcd7d4;
  --red-text-color: #ef3826;
  --light-yellow-bg: #ffeddd;
  --light-yellow-text: #ffb066;
  --blue-bg: #f1d4ff;
  --blue-text-color: #ba29ff;
  --icon-color: #757575;
  --dropdown-bg-color: #7698ec;
}

body i {
  cursor: pointer;
}

/* Navbar-start*/

.navbar {
  display: flex;
  align-items: center;
  padding: 0.6% 2%;
}

.nav-logo {
  width: 13%;
  padding-left: 2%;
}

.nav-top-section {
  display: flex;
  width: 87%;
  justify-content: space-between;
}

.nav-left-section {
  display: flex;
}

.nav-left-section i:nth-child(1) {
  padding: 6px 22px 0 25px;
  font-size: 20px;
  vertical-align: baseline;
  color: var(--icon-color);
}

input#btn {
  display: none;
}

#btn:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.search-container {
  position: relative;
}

.search-container input {
  width: 27vw;
  padding: 6px 5px 6px 35px;
  border-radius: 20px;
  background: var(--search-bg);
  font-size: 14px;
  border: 1px solid var(--border-color);
}

.search-container i {
  position: absolute;
  top: 22%;
  left: 4%;
  color: var(--icon-color);
}

.nav-right-section {
  display: flex;
  align-items: center;
}

.nav-right-section i:nth-child(1) {
  font-size: 23px;
  color: var(--hover-color);
}

.language-dropdown {
  font-size: 14px;
  padding: 0 28px;
}

.language-dropdown p {
  padding: 0 8px;
}

.profile-box p {
  font-size: 13px;
  padding: 0 12px;
}

.profile-box i {
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 5px;
}

/* sidebar-start*/

.sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  width: 230px;
  padding: 1% 0 3% 0;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar-top > ul > li > a,
.sidebar-pages > ul > li > a,
.sidebar-bottom > ul > li > a {
  position: relative;
  text-decoration: none;
  color: #666;
  padding: 14px 17px;
  display: flex;
  align-items: center;
}

.sidebar-top > ul > li > a > i,
.sidebar-pages > ul > li > a > i,
.sidebar-bottom > ul > li > a > i {
  width: 30px;
  font-size: 14px;
  margin-top: 1px;
}

.sidebar-top,
.sidebar-pages,
.sidebar-bottom {
  margin: 5px 0px;
}

.sidebar-top,
.sidebar-pages {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.sidebar li i:nth-child(3),
.sidebar li i:nth-child(4) {
  position: absolute;
  right: 0;
  font-size: 14px;
}

.sidebar li span {
  font-size: 14px;
  font-weight: 400;
}

.sidebar-pages p {
  font-size: 13px;
  font-weight: 600;
  color: var(--sidebar-pages-color);
  padding: 6% 0 4% 15%;
}

.sidebar .main-li:hover {
  /* background-color: var(--hover-color); */
  cursor: pointer;
  transition: all 0.4s;
}

.sidebar li a:hover {
  color: var(--hover-color);
}

.sidebar-bottom {
  padding-top: 10px;
}

#uparrow1,
#uparrow2,
#uparrow3 {
  display: none;
}

li ul {
  flex-direction: column;
  padding: 0 0 5px 40px;
  line-height: 1.9em;
  /* background-color: var(--dropdown-bg-color); */
}

li ul li a {
  text-decoration: none;
  font-size: 12px;
  color: var(--font-color);
}

i.fa-solid.fa-caret-right {
  margin-right: 8px;
}

.dropdown-menu1 i,
.dropdown-menu2 i,
.dropdown-menu2 i {
  width: 12px;
  font-size: 12px;
}

.sidebar .main-li.active {
  background-color: var(--hover-color);
  color: var(--white);
}

.sidebar .main-li.active a {
  color: var(--white);
}

.main-li a {
  color: #66667f;
}

/* hero-section-start*/

.hero-section {
  position: relative;
  left: 230px;
  width: calc(100% - 230px);
  height: 100vh;
  background-color: #f7f7fa;
  padding: 0.5% 0.8%;
}

h4 {
  color: #666;
  font-size: 16px;
  padding-bottom: 4px;
}

.user-search {
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-inner-hero-section input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
  background: transparent;
  width: 25vw;
  padding: 6px 0 6px 40px;
}

#search-inner-hero-section {
  position: relative;
}

#search-inner-hero-section i {
  position: absolute;
  color: var(--icon-color);
  left: 5%;
  top: 24%;
}

.user-instructor-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px 6px 10px;
  margin-bottom: 10px;
}

.user-instructor {
  font-size: 14px;
  font-weight: 700;
}

.hero-inner-logo img {
  padding-right: 8px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  background-color: var(--white);
  width: 100%;
  margin-bottom: 50px;
}

th {
  padding: 5px 0px;
}

th h5 {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #484747;
}

.table-wrapper {
  overflow-y: scroll;
  height: 469px;
  scrollbar-width: none;
}

/* thead {
  background: #d7d8da;
} */

tbody td {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

tr {
  border: 1px solid var(--border-color);
}

.completed p,
.processing p,
.rejected p,
.on-hold p,
.in-transit p {
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  padding: 1px 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--hover-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

#detail_icon i {
  font-size: 20px;
}

.completed p {
  color: var(--green-text);
  background-color: var(--green-bg);
}

.processing p {
  color: var(--light-blue-text);
  background-color: var(--light-blue-bg);
}

.rejected p {
  color: var(--red-text-color);
  background-color: var(--red-bg);
}

.on-hold p {
  color: var(--light-yellow-text);
  background-color: var(--light-yellow-bg);
}

.in-transit p {
  color: var(--blue-text-color);
  background-color: var(--blue-bg);
}

.menu-container {
  position: relative;
  display: inline-block;
  padding-left: 13px;
}

.menu-button {
  cursor: pointer;
  font-size: 21px;
}

.menu-content {
  display: none;
  /* position: absolute;
  top: 60%;
  right: 100%;
  background-color: var(--icon-color);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1; */
}

.menu-container.active .menu-content {
  display: block;
  padding: 5px 10px;
  position: absolute;
  top: 25%;
  right: 30%;
  background-color: #f7f7fa;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.menu-content a {
  display: block;
  color: #666;
  padding-bottom: 5px;
  text-decoration: none;
}

.footer-text {
  display: flex;
  width: 99%;
  padding: 0 2%;
  justify-content: space-between;
  top: 94%;
  position: sticky;
}

.footer-text p {
  font-size: 14px;
  font-weight: 600;
  color: var(--icon-color);
}

.next-page-icon i {
  color: var(--icon-color);
  border: 2px solid var(--border-color);
  padding: 5px 10px;
  border-radius: 5px;
}

/* add button  */

span.text {
  background: #4880ff;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
}

@media screen and (max-width: 1025px) {
  .nav-logo {
    width: 19%;
  }

  .nav-top-section {
    width: 81%;
  }

  .sidebar {
    width: 200px;
  }

  .nav-left-section i:nth-child(1) {
    padding: 6px 22px 0 0;
  }

  .hero-section {
    left: 200px;
    width: calc(100% - 200px);
  }

  .sidebar-top,
  .sidebar-pages,
  .sidebar-bottom {
    margin: 5px 0px;
  }

  tbody td {
    padding: 12px 16px;
  }

  .table-wrapper {
    overflow-y: scroll;
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .nav-logo {
    padding-left: 0;
  }

  .sidebar {
    width: 60px;
    text-align: center;
  }

  .sidebar li i:nth-child(3),
  .sidebar li i:nth-child(4) {
    display: none;
  }

  .sidebar span {
    display: none;
  }

  .hero-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar-top > ul > li > a > i,
  .sidebar-pages > ul > li > a > i,
  .sidebar-bottom > ul > li > a > i {
    font-size: 25px;
  }

  ul li ul {
    display: none;
  }

  .sidebar li {
    padding: 12px;
  }

  .sidebar-top > ul > li > a,
  .sidebar-pages > ul > li > a,
  .sidebar-bottom > ul > li > a {
    padding: 5px;
  }

  .sidebar-pages p {
    font-size: 12px;
    padding: 0;
  }

  table {
    overflow-x: scroll;
    /* width: max-content; */
  }

  .nav-logo {
    width: 10%;
  }

  .nav-top-section {
    display: flex;
    width: 90%;
  }

  .nav-left-section i:nth-child(1) {
    padding: 6px 22px 0 10px;
  }

  .sidebar li i:nth-child(3),
  .sidebar li i:nth-child(4) {
    display: none;
  }

  .next-page-icon i {
    padding: 1px 7px;
  }
}

@media screen and (max-width: 560px) {
  .nav-logo {
    width: 15%;
    padding-top: 5px;
  }

  .sidebar {
    width: 55px;
  }

  .sidebar i {
    padding-right: 0;
  }

  .sidebar li {
    padding: 6px;
  }

  .nav-top-section {
    align-items: center;
  }

  .hero-section {
    width: calc(100% - 55px);
    left: 55px;
  }

  .nav-left-section i:nth-child(1) {
    padding: 6px 10px 0 10px;
  }

  .language-dropdown img,
  .profile-box i {
    display: none;
  }

  .language-dropdown {
    padding: 0 15px;
  }

  .profile-box p {
    display: none;
  }

  .language-dropdown {
    padding: 0 12px;
  }

  .language-dropdown p {
    padding: 0 5px;
  }

  .nav-top-section {
    padding: 0 5px;
  }

  .search-container input {
    padding: 4px 5px 4px 28px;
  }

  .nav-left-section i:nth-child(1) {
    font-size: 18px;
    padding: 5px 10px 0 10px;
  }

  .nav-right-section i:nth-child(1) {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  #search-inner-hero-section input {
    /* width: 38vw; */
    padding: 6px 0 6px 32px;
  }

  th h5 {
    font-size: 10px;
  }

  .modal {
    padding: 30px;
  }
}

@media screen and (max-width: 325px) {
  .sidebar {
    width: 50px;
  }

  .hero-section {
    width: calc(100% - 50px);
    left: 50px;
  }

  .sidebar li {
    padding: 5px;
  }

  .nav-left-section i:nth-child(1) {
    font-size: 15px;
    padding: 5px 10px 0 18px;
  }

  .search-container input {
    padding: 3px 3px 3px 27px;
  }

  tbody td {
    padding: 5px 20px;
  }

  .search-container i {
    position: absolute;
    top: 22%;
    left: 7%;
    color: var(--icon-color);
  }

  .language-dropdown {
    padding: 0px 5px;
  }

  .nav-right-section i:nth-child(1) {
    font-size: 15px;
  }

  .profile-box img {
    width: 30px;
  }

  .language-dropdown p {
    padding: 0 2px;
  }
}
